specs/hl_boot_if.h
specs/qman_if.h
specs/simulator.h
specs/armcp_if.h
specs/cpucp_if.h

specs/goya/goya_coresight.h
specs/goya/goya_fw_if.h
specs/goya/goya_reg_map.h
specs/goya/goya_simulator.h
specs/goya/asic_reg/*_masks.h
specs/goya/asic_reg/cpu_pll_regs.h
specs/goya/asic_reg/ic_pll_regs.h
specs/goya/asic_reg/mc_pll_regs.h
specs/goya/asic_reg/psoc_*_pll_regs.h
specs/goya/asic_reg/mme?_rtr_regs.h
specs/goya/asic_reg/tpc?_cfg_regs.h
specs/goya/asic_reg/tpc0_eml_cfg_regs.h
specs/goya/asic_reg/tpc?_?rtr_regs.h
specs/goya/asic_reg/tpc?_rtr_regs.h
specs/goya/asic_reg/mme_regs.h
specs/goya/asic_reg/sram_y?_x?_rtr_regs.h
specs/goya/asic_reg/ddr_*.h
specs/goya/asic_reg/cpu_if_regs.h
specs/goya/asic_reg/goya_regs.h
specs/goya/asic_reg/mmu_regs.h
specs/goya/asic_reg/pcie_aux_regs.h
specs/goya/asic_reg/pcie_wrap_regs.h
specs/goya/asic_reg/psoc_spi_regs.h
specs/goya/asic_reg/stlb_regs.h
specs/goya/asic_reg/dma_macro_regs.h
specs/goya/asic_reg/dma_nrtr_regs.h
specs/goya/asic_reg/pci_nrtr_regs.h
specs/goya/asic_reg/dma_ch_?_regs.h
specs/goya/asic_reg/psoc_etr_regs.h
specs/goya/asic_reg/psoc_timestamp_regs.h
specs/goya/asic_reg/*_masks.h

specs/gaudi/gaudi_coresight.h
specs/gaudi/gaudi_fw_if.h
specs/gaudi/gaudi_reg_map.h
specs/gaudi/gaudi_simulator.h
specs/gaudi/asic_reg/cpu_ca53_cfg_masks.h
specs/gaudi/asic_reg/dma*_masks.h
specs/gaudi/asic_reg/mme*_masks.h
specs/gaudi/asic_reg/mmu_up_masks.h
specs/gaudi/asic_reg/nic?_qm?_masks.h
specs/gaudi/asic_reg/nic?_txe0_masks.h
specs/gaudi/asic_reg/pcie_wrap_masks.h
specs/gaudi/asic_reg/psoc_global_conf_masks.h
specs/gaudi/asic_reg/?if_rtr_ctrl_?_masks.h
specs/gaudi/asic_reg/stlb_masks.h
specs/gaudi/asic_reg/tpc?_cfg_masks.h
specs/gaudi/asic_reg/tpc?_qm_masks.h
specs/gaudi/asic_reg/?if_rtr_?_regs.h
specs/gaudi/asic_reg/tpc?_cfg_regs.h
specs/gaudi/asic_reg/dma?_core_regs.h
specs/gaudi/asic_reg/*_pll_regs.h
specs/gaudi/asic_reg/dma_if_?_?_regs.h
specs/gaudi/asic_reg/cpu_if_regs.h
specs/gaudi/asic_reg/mmu_up_regs.h
specs/gaudi/asic_reg/pcie_aux_regs.h
specs/gaudi/asic_reg/pcie_dbi_regs.h
specs/gaudi/asic_reg/pcie_msi_regs.h
specs/gaudi/asic_reg/psoc_spi_regs.h
specs/gaudi/asic_reg/stlb_regs.h
specs/gaudi/asic_reg/mme1_ctrl_regs.h
specs/gaudi/asic_reg/mme3_ctrl_regs.h
specs/gaudi/asic_reg/mme?_sbab_regs.h
specs/gaudi/asic_reg/mme?_acc_regs.h
specs/gaudi/asic_reg/dma_if_?_?_down_regs.h
specs/gaudi/asic_reg/nic0_stat_regs.h
specs/gaudi/asic_reg/psoc_timestamp_regs.h
specs/gaudi/asic_reg/cpu_ca53_cfg_masks.h
specs/gaudi/asic_reg/dma*_masks.h
specs/gaudi/asic_reg/mme*_masks.h
specs/gaudi/asic_reg/mmu_up_masks.h
specs/gaudi/asic_reg/nic?_qm?_masks.h
specs/gaudi/asic_reg/nic?_txe0_masks.h
specs/gaudi/asic_reg/pcie_wrap_masks.h
specs/gaudi/asic_reg/psoc_global_conf_masks.h
specs/gaudi/asic_reg/?if_rtr_ctrl_?_masks.h
specs/gaudi/asic_reg/stlb_masks.h
specs/gaudi/asic_reg/tpc?_cfg_masks.h
specs/gaudi/asic_reg/tpc?_qm_masks.h
