specs/hl_boot_if.h
specs/qman_if.h
specs/simulator.h
specs/armcp_if.h
specs/cpucp_if.h

specs/hw_ip/codec/*
specs/hw_ip/mmu/*
specs/goya/goya_coresight.h
specs/goya/goya_fw_if.h
specs/goya/goya_reg_map.h
specs/goya/goya_simulator.h
specs/gaudi/gaudi_coresight.h
specs/gaudi/gaudi_fw_if.h
specs/gaudi/gaudi_reg_map.h
specs/gaudi/gaudi_simulator.h

specs/gaudi2/gaudi2_coresight.h
specs/gaudi2/gaudi2_fw_if.h
specs/gaudi2/gaudi2_reg_map.h
specs/gaudi2/gaudi2_simulator.h
