specs/hl_boot_if.h
specs/qman_if.h
specs/simulator.h
specs/armcp_if.h

specs/goya/goya_async_events.h
specs/goya/goya_coresight.h
specs/goya/goya_fw_if.h
specs/goya/goya_reg_map.h
specs/goya/goya_simulator.h
specs/goya/asic_reg/*_masks.h
specs/goya/asic_reg/cpu_pll_regs.h
specs/goya/asic_reg/ic_pll_regs.h
specs/goya/asic_reg/mc_pll_regs.h
specs/goya/asic_reg/psoc_*_pll_regs.h
specs/goya/asic_reg/mme?_rtr_regs.h
specs/goya/asic_reg/tpc?_cfg_regs.h
specs/goya/asic_reg/tpc0_eml_cfg_regs.h
specs/goya/asic_reg/tpc?_?rtr_regs.h
specs/goya/asic_reg/tpc?_rtr_regs.h
specs/goya/asic_reg/mme_regs.h
specs/goya/asic_reg/sram_y?_x?_rtr_regs.h
specs/goya/asic_reg/ddr_*.h
specs/goya/asic_reg/cpu_if_regs.h
specs/goya/asic_reg/goya_regs.h
specs/goya/asic_reg/mmu_regs.h
specs/goya/asic_reg/pcie_aux_regs.h
specs/goya/asic_reg/pcie_wrap_regs.h
specs/goya/asic_reg/psoc_spi_regs.h
specs/goya/asic_reg/stlb_regs.h
specs/goya/asic_reg/dma_macro_regs.h
specs/goya/asic_reg/dma_nrtr_regs.h
specs/goya/asic_reg/pci_nrtr_regs.h
specs/goya/asic_reg/dma_ch_?_regs.h
specs/goya/asic_reg/psoc_etr_regs.h
